@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Francois+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    /*background-color: #0079bb;*/
    color: rgb(134, 197, 255);
}

body{
    background-color: #0079bb;
}

.page{
    display: flex;
    flex-direction: column;
}

.header-bar{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
    height: 50px;
    background-color: lightblue;
    
}

.navigation{
    color: black;
    height: 50px;
    padding: 25px;
    text-decoration: none;
    
}

.navigation:hover{
    color: whitesmoke;
}

.centred{
    text-align: center;
    vertical-align: middle;
}

.left{
    text-align: left;    
}

.right{
    text-align: right;
}

.logo{
    size: 25px;
}

.heading{
    font-family: 'Francois One', monospace;
}

.general-text{
    font-family: 'Archivo', monospace;
}

h1{
    size: 75%;
}