@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Francois+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    /*background-color: #0079bb;*/
    color: rgb(134, 197, 255);
}

body{
    background-color: #0079bb;
}

.page{
    display: flex;
    flex-direction: column;
}

.header-bar{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    height: 100px;
    width: 100%;
    background-color: lightblue;
}

.navigation{
    float: left;
    color: black;
    text-decoration: none;
    height: 100px;
    padding: 20px;
}

@keyframes navigation_hover{
    0% {height: 100px;}
}

.navigation:hover{
    color: whitesmoke;
    background: rgb(0, 146, 190);
}

.centred{
    text-align: center;
    vertical-align: middle;
}

.left{
    text-align: left;    
}

.right{
    text-align: right;
}

.logo{
    size: 25px;
}

.icon{
    width: 50px;
}

.heading{
    font-family: 'Francois One', monospace;
    padding: 20px;
}

.text-box{
    width: 500px;
}

.general-text{
    font-family: 'Archivo', monospace;
}

h1{
    font-size: 100px;
}